Editing ID <%= @post.id %>
<form action="/posts/<%= @post.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
Name <input type="text" name="name" value="<%=@post.name %>"><br/>
Content <input type="text" name="content" value="<%=@post.content %>"><br/>
<button type="submit">submit</button>
</form>

